@keyframes blur {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes arrow3 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arrow4 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
@keyframes arrow1 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arrow2 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
@keyframes arrow5 {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes arrow6 {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}